
.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;

  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #fff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  color: #f5a700 !important ;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #3e8fe5;
  padding: 16px;
}
.dropdown-link:hover {
  color: #f5a700;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
  /* dropdown menu not visible in mobile */
  .dropdown-menu {
    display: none;
  }
}

@media screen and (min-width: 960px) {

/* single dropdown menu style */
.about-drop {
  margin-left: -50px;
}
.admission-drop {
  margin-left: -50px;
}
.classroom-drop {
  margin-left: -20px;
}
.community-drop {
  margin-left: 15px;
}
.parent-drop {
  margin-left: -15px;
}
.support-drop {
  margin-left: -40px;
}


}


