.parallax-b {
  margin-left: -20px;
}

.para-container-b {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);

  gap: 20px;
  list-style-type: none;
  align-items: center;
  margin: 20px;
  margin-top: -100px;
  margin-bottom: -50px;
}
.b-image-container {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-left: -30px;
  margin-bottom: 1rem;
}

.b-text-container {
  grid-column: 1/3;
  grid-row: 4/8;
  margin-bottom: 6rem;
}

.b1 {
  position: relative;
  margin: auto;
  z-index: 2;
  background-repeat: no-repeat;
  margin-right: -1rem;
}

.b2 {
  border-top: solid 3px #f5a700;
  padding-top: 20px;
  color: #0741a4;
  font-size: 1.5rem;
  font-weight: 400;

  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 2px;
}

h1 .text-gold {
  color: #f5a700;
}

.b3 {
  margin-top: 6px;
}

.b4 {
  margin-bottom: 100px;

  text-transform: uppercase;
}
.b4 a {
  color: #f5a700;
  font-weight: 600;
  text-underline-offset: 10px;
  letter-spacing: 1px;
  margin-bottom: 100px;
}
.b4 a:hover {
  color: #0741a4;
}

.b5 {
  position: absolute;
  background-color: #f5a700;
  grid-column: 1/3;
  grid-row: 8/9;

  width: 100px;
  height: 200px;
  z-index: 1;
  margin-top: -11rem;

  right: 0;
  bottom: 1;
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .para-container-b {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    list-style-type: none;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 150px;
  }
  .b1 {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  .b1 {
    z-index: 2;
  }
  .b-image-container {
    grid-column: 4/9;
    grid-row: 1/6;
    margin: 1rem 0rem;
    margin-right: 1rem;
  }
  .b-text-container {
    grid-column: 1/4;
    grid-row: 1/6;
    margin: 0rem 1rem;
  }

  .b2 {
    margin-top: 2rem;
  }
  .b2 h1 {
    border-top: solid 3px #f5a700;
    padding-top: 20px;
    color: #0741a4;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }

  h1 .text-gold {
    color: #f5a700;
  }

  .b3 {
    margin-bottom: 1rem;
  }

  .b4 {
    margin-bottom: 1rem;
  }

  .b4 a {
    text-align: left;
  }

  .b5 {
    background-color: #277ddc;
    background-color: #dc27ca !important;
    /* grid-column: 1/2;
    grid-row: 6/7;
    height: 100px;
margin-bottom: 6rem;
    width: 200px;
    z-index: 1; */
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1449px) {
  .para-container-b {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    list-style-type: none;
    margin-top: -10px;
    align-items: center;
    margin-bottom: 150px;
  }
  .b1 {
    margin-left: -2rem;

    max-width: 100%;
    height: auto;
    width: auto;
  }
  .b1 {
    position: relative;
    z-index: 2;
  }
  .b-image-container {
    grid-column: 4/9;
    grid-row: 1/6;
    margin-right: -2rem;
  }
  .b-text-container {
    grid-column: 1/4;
    grid-row: 1/6;

    padding-right: 1;
  }
}
.b2 {
  border-top: solid 3px #f5a700;
  padding-top: 20px;
  color: #0741a4;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 2rem;
  margin-right: 1rem;
}

h1 .text-gold {
  color: #f5a700;
}

.b3 {
  margin-bottom: 2rem;
}

.b4 {
  margin-bottom: 2rem;
}

.b4 a {
  text-align: left;
}

.b5 {
  background-color: #277ddc;
  background-color: #272adc;

  z-index: 1;

  position: absolute;
  bottom: 1;
}

@media only screen and (min-width: 1450px) {
  .para-container-b {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 50px;

    align-items: center;
    margin-top: -8rem;
    padding-bottom: 0;
    margin-bottom: 150px;
  }
  .b1 {
    margin-left: 1rem;
    min-width: 1200px;
    height: 900px;
    margin-right: -1rem;
  }
  .b1 {
    position: relative;

    z-index: 2;
  }
  .b-image-container {
    grid-column: 4/9;
    grid-row: 1/6;
    margin-left: -5rem;
  }
  .b-text-container {
    grid-column: 1/4;
    grid-row: 1/6;
    line-height: 2rem;
    margin:0rem 10rem;
    margin-left: 6rem;
  }


  .b2 {
    border-top: solid 3px #f5a700;

    color: #0741a4;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
  }

  h1 .text-gold {
    color: #f5a700;
  }

  .b3 {
    margin-top: 1rem;
  
  }

  .b4 {
    margin-top: 1rem;
  }

  .b5 {
    margin-top: -8rem;

    background-color: #f5a700;
    grid-column: 1/3;
    grid-row: 5/6;

    width: 200px;
    height: 500px;

    margin-top: -28rem;
  }
}

