/* =====  SECTION TWO  ======= */

.parallax {
  background: url("../../../public/assets/FireBackground.svg") fixed no-repeat;

  background-position: left;

  background-size: 95% 50% 45% 35%;
  padding-bottom: 250px;
  margin-top: -20px;
}

.parallax-inner h2 {
  text-align: center;
  font-size: 4rem;
  color: #0741a4;
  line-height: 1.2;
  letter-spacing: 1%;
  margin: 20px;
  padding-top: 100px;
  padding-left: 300px;
  text-align: left;

  font-weight: 500;
}
.parallax-inner p {
  text-align: center;
  font-size: 1.2rem;
  color: #161718;
  letter-spacing: 1%;
  margin: 20px 10%;
  padding-left: 180px;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .parallax {
    padding-bottom: 250px;
 
  }
  .parallax-inner h2 {
    font-size: 2rem;

    line-height: 1.2;
    letter-spacing: 1%;

    padding-top: 10px;
    padding-left: 10px;
    text-align: left;

    font-weight: 500;
  }
  .parallax-inner p {
    text-align: center;
    font-size: 1rem;
 margin-bottom: -100px;
 
    /* margin: 20px 10%; */
    padding-left: 2px;
    text-align: left;
    margin-left: 29px;

  }
 
  
}
