.parallax-d{
    background: url("../../../public/assets/Group\ 606.svg") fixed no-repeat; 
padding: 50px;
padding-top: 50px;
background-color: rgb(26, 96, 215, 0.7);
margin-top: 40px;
/* z-index: -1; */
/* position: relative; */

}


.para-container-d{
   text-align: center;
   padding-bottom: 5px;

}

.title-d{
font-size: 50px;
color:  #f5a700;
padding-bottom: 5px;

}

.text-d{
   color:#fff; 
   padding-bottom: 10px;
   line-height: 30px;
}
.ask-link{
    line-height:30px;
    margin-bottom: 40px;
    color: #fff;
}
.ask-link:hover{

  color: #f5a700;
}

.ask-link-container{
    display: flex;
  justify-content:center ;
  letter-spacing:1px ;
}

.button-6{
    width: 130px;
  
  font-size: 15px;


  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.05em;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 0.85rem 0.85rem;
  font-weight: 700;
  border-radius: 0.333em;
  background: #fff;
  color: #0741a4;
  display: inline-block;
}



