.parallax9 {

  margin-left: -20px;
}

.para-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, auto);
  gap: 20px;
  list-style-type: none;
margin: 20px;
  margin-top: -100px;
  margin-bottom: -50px;
  margin-left: -10px;
  /* padding-bottom: 0; */
}

.a-text-container{
  grid-column: 1/5;
  grid-row: 4/7;
}
.a1 {
  grid-column: 1/5;
  grid-row: 1/4;
  margin: auto;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.a2 {
margin-top: 2px;
}
.a2 h1 {
  border-top: solid 3px #f5a700;
  padding-top: 20px;
  color: #0741a4;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.2px;
  
}

h1 .text-gold {
  color: #f5a700;
  padding-left: 10px;
  letter-spacing: 1px;
}

.a3 {

  margin-top: 6px;
}

.a4 {
  /* background-color: rgb(199, 30, 193); */

  margin-bottom: 100px;

  text-transform: uppercase;

}
.a4 a{
  color: #f5a700;
  font-weight: 600;
  text-underline-offset: 10px;
  letter-spacing: 1px;

}
.a4 a:hover{
  color:#0741a4;

}

.a5 {
  background-color: #277ddc;
  grid-column: 1/3;
  grid-row: 4/6;
  height: 120px;
  margin-left: -40px;
  width: 300px;
  z-index: 1;
  margin-top: -140px;
}
@media only screen and (min-width: 550px) and (max-width: 700px) {
  .a1 img {
    margin: 0 auto;
    /* min-width: 550px;
    height: 380px; */
    
      max-width: 100%;
      height: auto;
    
    
    
  }
}

/* @media only screen and (min-width: 550px) and (max-width: 700px) {
  .para-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(8, 100px);
    gap: 20px;}
  
  
  .a1 {
    padding: 10px;
    background-color: #f5a700;
  }
  .a1 {
    grid-column: 1/4;
    grid-row: 1/4;
    padding: 10px;
    background-color: aqua;
    min-width: 620px;
    margin-right: 50px;
  }
  .a2 {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .a3 {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  .a4 {
    grid-column: 1/4;
    grid-row: 7/8;
  }
  .a5 {
    grid-column: 7/10;
    grid-row: 2/3;
  }
} */

@media only screen and (min-width: 701px) and (max-width: 1000px){
  .para-container {
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4, 100px);
  
  }

  .a1 {
    grid-column: 1/5;
    grid-row: 1/4;
    z-index: 2;
    /* padding-left: 100px; */
    /* background-color: blue;} */
  }
  .a-text-container{
    grid-column: 5/9;
    grid-row: 1/4;
  }

  .a2 {
margin-top: 50px;
  }
  .a2 h1 {
    border-top: solid 3px #f5a700;
    padding-top: 20px;
color: #0741a4;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }

  h1 .text-gold {
    color: #f5a700;
  }

  .a3 {
padding-top: 1px;
  }

  .a4 {
margin-top: 10px;
 

  }


  .a5 {
    background-color: #277ddc;
    grid-column: 1/1;
    grid-row: 4/5;
    height: 100px;
    margin-left: -40px;
    width: 200px;
    z-index: 1;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1001px) {
  .para-container {

    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    list-style-type: none;
    margin-top: -100px;
    padding-bottom: 0;
    margin-bottom: 150px;
  }
  .a1 img {
    margin-left: 20px;
    /* min-width: 1200px;
    height: 900px; */
    
      max-width: 100%;
      height: auto;
      width: auto;
    
    
  }
  .a1 {
 
    grid-column: 1/6;
    grid-row: 1/6;
    z-index: 2;
    padding-left: 10px;
 
  }

  .a2 {
margin-top: 2px;
  }
  .a2 h1 {
    border-top: solid 3px #f5a700;
    padding-top: 20px;
color: #0741a4;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
 
    
  }

  h1 .text-gold {
    color: #f5a700;
   
  }

  .a3 {
margin-bottom: 2px;
  
  }

  .a4 {
 
margin-bottom: 2px;

  }

  .a4 a{
    text-align: left;

  }

  .a5 {
    background-color: #277ddc;
    grid-column: 1/3;
    grid-row: 5/4;
    height: 180px;
    margin-left: -40px;
    width: 600px;
    z-index: 1;
    margin-top: -150px;
  }
}


@media only screen and (min-width: 1450px) {
  .para-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;

    margin-top: -100px;
    padding-bottom: 0;
    margin-bottom: 150px;
  }
  .a1 img {
    margin-left: 40px;
    /* min-width: 1200px;
    height: 900px; */
    min-width: 1200px;
      max-width: 100%;
      height: 900px;
  
    
    
  }
  .a1 {
 
    grid-column: 1/5;
    grid-row: 1/6;
    z-index: 2;
    padding-left: 10px;
 
  }

  .a2 {
margin-top: 2px;
  }
  .a2 h1 {
    border-top: solid 3px #f5a700;
    padding-top: 20px;
color: #0741a4;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;

    
  }

  h1 .text-gold {
    color: #f5a700;
   
  }

  .a3 {
margin-bottom: 2px;
  
  }

  .a4 {
 
 margin-top: 2px;

  }

  .a4 a{
    text-align: left;
  margin-left: 10px;
  }

  .a5 {
    background-color: #277ddc;
    grid-column: 1/3;
    grid-row: 5/4;
    height: 180px;
    margin-left: -40px;
    width: 600px;
    z-index: 1;
    margin-top: -150px;
  }




}




