.parallax3 {
  background-color: aliceblue;
  background-position: left;

  margin-top: -100px;
  margin-bottom: 100px;
  padding-bottom: 0;
}
.parallax3-inner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.parallax3-inner img {
  grid-column: 1 / span 3;
  grid-row: 1;
  margin: 20px;
  width: 550px;
  height: 500px;
  background-color: rgb(29, 112, 185);
  padding: 5px;
}

.parallax3-inner h1 {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
  color: #0741a4;
  line-height: 1.2;
  letter-spacing: 1%;
  margin: 20px;
  margin-left: 2px;
  font-weight: 500;
  border-top: solid 3px #f5a700;
  color: #0741a4;
  font-weight: 400;
  height: 20px;
  background-color: rgb(29, 112, 185);

  text-align: left;
}

.parallax3-inner p {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-size: 1.2rem;
  color: #161718;
  letter-spacing: 1%;

  font-weight: 200;
  font-size: 15px;
  background-color: rgb(29, 112, 185);
  margin-top: -400px;
}

.parallax3-inner a {
  grid-column: 2 / span 3;
  grid-row: 3;
  color: #f5a700;
  text-transform: uppercase;
}

.rectangle1 {
  background-color: #1b61d8;

  position: absolute;
  bottom: 200px;
  z-index: -1;
  grid-column: 1;
  grid-row: 1;
}
.text-container a {
  color: #f5a700;
}
