@import url("https://fonts.cdnfonts.com/css/euclid-flex");

.form-container {
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.form-container h1 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}

.form-section {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input,
.textarea {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a3b2d2;
  /* background-color: #00286b; */
  background-color: #001d53;
  font-size: 18px;
}
.textarea:focus,
.input:focus {
  border: 1px solid gold;
  outline: none;
}

input:focus::placeholder,
.textarea:focus::placeholder {
  font-size: 13px;
  transition: font-size 0.5s;
  color: gold;
  margin-bottom: 10px;
  transform: translate(-10px, -18px);
  transition: transform 0.5s ease-in-out;
}

.textarea {
  height: 120px;
}

.submit-button {
  background-color: #277fdd;
  color: white;
  width: 90px;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: "Euclid Square", sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #f5a700;
}

@media only screen and (min-width: 1024px) {
  .form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;

    gap: 5px;

    margin-top: 25px;
  }

  .form-container h1 {
    grid-column: 1/4;
    grid-row: 1/1;
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 1rem;
  }
  .form-section-input1 {
    grid-column: 1/3;

    padding: 20px;
    grid-row: 2/3;
  }

  .form-section-input2 {
    grid-column: 3/5;

    grid-row: 2/3;
  }

  .form-section-input3 {
    grid-column: 1/6;
    grid-row: 3/4;
  }
  .submit-button {
    margin-top: 30px;
    grid-column: 1/4;
    grid-row: 4/5;
    width: 120px;
    padding: 12px;
    font-size: 19px;
    border-radius: 5px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1450px) {
}
