.small-golden-container{
    background-color:#f5a700 ;
    text-align: center;
    padding: 2px;
  
  }

  .medium-golden-container{
    background-color:#f5a700 ;
    text-align: center;
    padding: 15px;
  
  }
  

