*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Euclid Square", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

.sample-page {
  display: flex;
  height: 90vh;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-sample {
  font-size: 55px;
  background-color: #4497e3;
  padding: 0 10px;
  margin-left: -400px;
  margin-bottom: -530px;
  color: #fff;
}

.page-about {
  background-image: url("../public/assets/hero_image3.png");
}

.page-our-board {
  background-image: url("../public/assets/hero_image.jpg");
}

.page-welcome {
  background-image: url("../public/assets/hero_image2.jpg");
}

.page-leadership {
  background-image: url("../public/assets/hero_image_babies.png");

  text-align: center;
}

.page-glance {
  background-image: url("../public/assets/hero_image2.jpg");
}

.page-contact {
  background-image: url("../public/assets/hero_image.jpg");
}

.page-employment {
  background-image: url("../public/assets/hero_Image_Small.png");
}
.page-adm-process {
  background-image: url("../public/assets/hero_image_babies.png");
}

.page-sample-one {
  background-image: url("../public/assets/hero_image_babies.png");
}

.page-sample-two {
  background-image: url("../public/assets/hero_Image_Small.png");
}

.page-sample-three {
  background-image: url("../public/assets/hero_image2.jpg");
}

@media screen and (max-width: 960px) {
  .text-sample {
    font-size: 25px;
    background-color: #4497e3;
    padding: 0 10px;
    margin-left: -100px;
    margin-bottom: -250px;
  }
  .sample-page {
    height: 400px;
  }
}
